/* здесь используйте глобальные переменные */

// COLORS
$white: #ffffff;
$grey: #bdbdbd;
$black: #333333;
$primary: #7859cf;
$secondary: #f0ebff;

// BREAKPOINTS
$tablet-width: 768px;
$desktop-width: 1440px;
