.promo {
  padding-top: 20px;
  padding-bottom: 60px;

  &:has(.slider__item:first-child.slider__item--active) {
    background-color: #f3ebe1;
  }

  &:has(.slider__item:nth-child(2).slider__item--active) {
    background-color: #eae6fc;
  }

  &:has(.slider__item:nth-child(3).slider__item--active) {
    background-color: #e5e6e8;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}
